// _navbar.scss
@use 'variables' as *;
@use 'glassmorphism' as *;

.navbar {
  @extend .glass;
  height: $navbar-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  margin: 2rem auto;
  max-width: 900px;
  gap: 2rem;
  background: none;
  box-shadow: none;
  border: none;
  ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
